@import '~antd/dist/antd.css';

#app {
  background: #001529;
}
.container {
  background: #f1f1f1;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
  width: 900px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-footer {
  padding: 21px 50px;
  color: rgb(255 255 255 / 65%);
  font-size: 14px;
  background: #001529;
}
